<div>
  <button class="btn btn-primary mt-3" routerLink="/phones/create">Create</button>
</div>
<div class="card mt-2">
  <h5 class="card-header">List Phone</h5>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">
          <input type="text"[(ngModel)]="searchTitle" (input)="search2()" class="form-control col-lg-6 offset-lg-6" placeholder="search...">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let phone of phones;let i =index">
        <th scope="row">{{i + 1}}</th>
        <td>{{phone.name}}</td>
        <td>{{phone.price}}</td>
        <td>
          <button class="btn btn-dark mr-2" [routerLink]="['/phones',phone.id,'update']">edit</button>
          <button class="btn btn-danger" (click)="delete(phone.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
